/*
** MAIN PAGE
*/
body {
    font-family: Oswald;
}

.title {
    color: #E31C67;
    padding-bottom: 40px;
}

h1 {
    margin-bottom:30px;
}

h2 {
    font-size: 1.3em;
}

.fas {
    padding-left: 30px;
}

.card {
    transition: transform 0.3s;
    margin: 10px 0px;
  }
  
.card:hover {
    transform: scale(1.05);
}

.bloom-button {
    background-color: #E31C67;
    border: #E31C67;
}

.logo {
    height: 70px;
    animation: floating1 6s ease-in-out 0s infinite alternate;
}

/*
** POURCENTAGES
*/

.stat-good {
    color: green;
    display: inline;
    font-size: 1.9em;
    font-weight: bold;
    padding-right: 30px;
    vertical-align: middle;
}

.stat-medium {
    color: orange;
    display: inline;
    font-size: 1.9em;
    font-weight: bold;
    padding-right: 30px;
    vertical-align: middle;

}
.stat-bad {
    color: red;
    display: inline;
    font-size: 1.9em;
    font-weight: bold;
    padding-right: 30px;
    vertical-align: middle;

}

.invisible {
    display: none;
}

/*
** FLIP CARD
*/
.flip-card-container {
    font-family: 'Open Sans', sans serif;
    font-size: 120px;
    font-weight: bold;

    width: 400px;
    height: 250px;
    margin: 10px auto;

    border-radius: 10px;

    perspective: 1400px;
}

.flip-card {
    position: relative;

    height: 100%;

    border-radius: 10px;

    width: 100%;
    transform-style: preserve-3d;
}

.front, .back {
    display: flex;

    width: 100%;
    height: 100%;

    border-radius: 10px;

    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.front {
    color: #fff;
    background: #2196f3;
}

.back {
    position: absolute;
    top: 0;
    left: 0;

    transform: rotateY(180deg);

    color: white;
    background: rgb(202, 90, 90);
}



/*
** FLOATING IMAGE 
*/
.img-float1 {
    box-sizing: border-box;
    height: 40px;
    z-index: 1;
    animation: floating1 6s ease-in-out 0s infinite alternate;
}
.img-float2 {
    box-sizing: border-box;
    height: 40px;
    z-index: 1;
    animation: floating2 4s ease-in-out 0s infinite alternate;
}
.img-float3 {
    box-sizing: border-box;
    height: 40px;
    z-index: 1;
    animation: floating3 5s ease-in-out 0s infinite alternate;
}

@keyframes floating1 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(8%);
    }
    100% {
      transform: translateY(0);
    }
}
@keyframes floating2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(8%);
    }
    100% {
      transform: translateY(0);
    }
}
@keyframes floating3 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(8%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes fadeInAndOut {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(-5%);
    }
  }

  @keyframes glowing {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes vex-rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }